@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #eaeaea;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mono), monospace;
  margin: 0;
  padding: 0;
}
